web/WEB-INF/wsdl/localhost_8080/TrabajoIntegradorWS/dulceReal.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://webservices.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservices.com/">

<xs:element name="cargarABaseDeDatos" type="tns:cargarABaseDeDatos"/>

<xs:element name="cargarABaseDeDatosResponse" type="tns:cargarABaseDeDatosResponse"/>

<xs:element name="cargarALaCola" type="tns:cargarALaCola"/>

<xs:element name="cargarALaColaResponse" type="tns:cargarALaColaResponse"/>

<xs:element name="conseguirPedidos" type="tns:conseguirPedidos"/>

<xs:element name="conseguirPedidosResponse" type="tns:conseguirPedidosResponse"/>

<xs:element name="conseguirProds" type="tns:conseguirProds"/>

<xs:element name="conseguirProdsResponse" type="tns:conseguirProdsResponse"/>

<xs:element name="conseguirVentas" type="tns:conseguirVentas"/>

<xs:element name="conseguirVentasResponse" type="tns:conseguirVentasResponse"/>

<xs:element name="loguearCliente" type="tns:loguearCliente"/>

<xs:element name="loguearClienteResponse" type="tns:loguearClienteResponse"/>

<xs:element name="loguearVendedor" type="tns:loguearVendedor"/>

<xs:element name="loguearVendedorResponse" type="tns:loguearVendedorResponse"/>

<xs:element name="mostrarPorCliente" type="tns:mostrarPorCliente"/>

<xs:element name="mostrarPorClienteResponse" type="tns:mostrarPorClienteResponse"/>

<xs:complexType name="loguearCliente">
<xs:sequence>
<xs:element name="usuario" type="xs:string" minOccurs="0"/>
<xs:element name="clave" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loguearClienteResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="conseguirProds">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="conseguirProdsResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="conseguirPedidos">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="conseguirPedidosResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loguearVendedor">
<xs:sequence>
<xs:element name="usuarioAdm" type="xs:string" minOccurs="0"/>
<xs:element name="clave" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loguearVendedorResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cargarABaseDeDatos">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="cargarABaseDeDatosResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="conseguirVentas">
<xs:sequence>
<xs:element name="idpedido" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="conseguirVentasResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cargarALaCola">
<xs:sequence>
<xs:element name="pedido" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cargarALaColaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="mostrarPorCliente">
<xs:sequence>
<xs:element name="idcliente" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="mostrarPorClienteResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>