src/conf/xml-resources/web-service-references/dulceReal/wsdl/localhost_8080/TrabajoIntegradorWS/dulceReal.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices.com/" name="dulceReal">
<types>
<xsd:schema>
<xsd:import namespace="http://webservices.com/" schemaLocation="http://localhost:8080/TrabajoIntegradorWS/dulceReal?xsd=1"/>
</xsd:schema>
</types>
<message name="loguearVendedor">
<part name="parameters" element="tns:loguearVendedor"/>
</message>
<message name="loguearVendedorResponse">
<part name="parameters" element="tns:loguearVendedorResponse"/>
</message>
<message name="conseguirPedidos">
<part name="parameters" element="tns:conseguirPedidos"/>
</message>
<message name="conseguirPedidosResponse">
<part name="parameters" element="tns:conseguirPedidosResponse"/>
</message>
<message name="mostrarPorCliente">
<part name="parameters" element="tns:mostrarPorCliente"/>
</message>
<message name="mostrarPorClienteResponse">
<part name="parameters" element="tns:mostrarPorClienteResponse"/>
</message>
<message name="conseguirVentas">
<part name="parameters" element="tns:conseguirVentas"/>
</message>
<message name="conseguirVentasResponse">
<part name="parameters" element="tns:conseguirVentasResponse"/>
</message>
<message name="cargarALaCola">
<part name="parameters" element="tns:cargarALaCola"/>
</message>
<message name="cargarALaColaResponse">
<part name="parameters" element="tns:cargarALaColaResponse"/>
</message>
<message name="loguearCliente">
<part name="parameters" element="tns:loguearCliente"/>
</message>
<message name="loguearClienteResponse">
<part name="parameters" element="tns:loguearClienteResponse"/>
</message>
<message name="conseguirProds">
<part name="parameters" element="tns:conseguirProds"/>
</message>
<message name="conseguirProdsResponse">
<part name="parameters" element="tns:conseguirProdsResponse"/>
</message>
<message name="cargarABaseDeDatos">
<part name="parameters" element="tns:cargarABaseDeDatos"/>
</message>
<message name="cargarABaseDeDatosResponse">
<part name="parameters" element="tns:cargarABaseDeDatosResponse"/>
</message>
<portType name="dulceReal">
<operation name="loguearVendedor">
<input wsam:Action="http://webservices.com/dulceReal/loguearVendedorRequest" message="tns:loguearVendedor"/>
<output wsam:Action="http://webservices.com/dulceReal/loguearVendedorResponse" message="tns:loguearVendedorResponse"/>
</operation>
<operation name="conseguirPedidos">
<input wsam:Action="http://webservices.com/dulceReal/conseguirPedidosRequest" message="tns:conseguirPedidos"/>
<output wsam:Action="http://webservices.com/dulceReal/conseguirPedidosResponse" message="tns:conseguirPedidosResponse"/>
</operation>
<operation name="mostrarPorCliente">
<input wsam:Action="http://webservices.com/dulceReal/mostrarPorClienteRequest" message="tns:mostrarPorCliente"/>
<output wsam:Action="http://webservices.com/dulceReal/mostrarPorClienteResponse" message="tns:mostrarPorClienteResponse"/>
</operation>
<operation name="conseguirVentas">
<input wsam:Action="http://webservices.com/dulceReal/conseguirVentasRequest" message="tns:conseguirVentas"/>
<output wsam:Action="http://webservices.com/dulceReal/conseguirVentasResponse" message="tns:conseguirVentasResponse"/>
</operation>
<operation name="cargarALaCola">
<input wsam:Action="http://webservices.com/dulceReal/cargarALaColaRequest" message="tns:cargarALaCola"/>
<output wsam:Action="http://webservices.com/dulceReal/cargarALaColaResponse" message="tns:cargarALaColaResponse"/>
</operation>
<operation name="loguearCliente">
<input wsam:Action="http://webservices.com/dulceReal/loguearClienteRequest" message="tns:loguearCliente"/>
<output wsam:Action="http://webservices.com/dulceReal/loguearClienteResponse" message="tns:loguearClienteResponse"/>
</operation>
<operation name="conseguirProds">
<input wsam:Action="http://webservices.com/dulceReal/conseguirProdsRequest" message="tns:conseguirProds"/>
<output wsam:Action="http://webservices.com/dulceReal/conseguirProdsResponse" message="tns:conseguirProdsResponse"/>
</operation>
<operation name="cargarABaseDeDatos">
<input wsam:Action="http://webservices.com/dulceReal/cargarABaseDeDatosRequest" message="tns:cargarABaseDeDatos"/>
<output wsam:Action="http://webservices.com/dulceReal/cargarABaseDeDatosResponse" message="tns:cargarABaseDeDatosResponse"/>
</operation>
</portType>
<binding name="dulceRealPortBinding" type="tns:dulceReal">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="loguearVendedor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="conseguirPedidos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="mostrarPorCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="conseguirVentas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cargarALaCola">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="loguearCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="conseguirProds">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cargarABaseDeDatos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="dulceReal">
<port name="dulceRealPort" binding="tns:dulceRealPortBinding">
<soap:address location="http://localhost:8080/TrabajoIntegradorWS/dulceReal"/>
</port>
</service>
</definitions>